<h1 style="text-align:center"></h1>
<h1 style="text-align:center">
  Welcome to Billy Goat!
</h1>
    <div class="login">
      <h2 class="login-header">Log in</h2>
      <form [formGroup]="form" class="login-container">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="name@domain.com" formControlName="username" required>
          <mat-error>
            Please provide a valid username, must be an email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="password" formControlName="password">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="onSubmit()">Log in</button>
        </div>
        <div class="login-error" [hidden] = "!isWrong">
          <div>
          Invalid Username or Password
          </div>
        </div>
        <div>
          Don't have an account? <button mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button> 
        </div>
      </form>
  </div>